header{
    height: 100vh;
    background: transparent url('../img/header.png') no-repeat center;
    background-size: cover;
    background-size: 2100px;

}

#banner {
    position: relative;
    background-size: cover;
}

/* #onda {
    position: absolute;
    bottom: 0;
} */