.localizacao {
  width: 100%;
  margin: auto;
  padding: 100px 0px 200px 0px;
  font-family: "Dosis";
}

.wrap-localizacao {
  max-width: 1200px;
  margin: 0 auto;
}

.wrap-pontos {
  max-width: 1200px;
  margin: 0 auto;
}

.texto-localizacao {
  text-align: center;
}

.texto-localizacao h2 {
  font-size: 5rem;
  font-weight: 900;
  margin-bottom: 20px;
  color: #1c1c1c;
}

.texto-localizacao p {
  font-size: 2rem;
  color: #6a6a6a;
}

.texto-localizacao hr {
  width: 12%;
  margin-bottom: 35px;
  margin-top: 12px;
  height: 2px;
  background-color: #72b221;
}

iframe {
  width: 100%;
  max-width: 1200px;
}

.pontos {
  background-color: #72b221;
  max-height: 400px;
  position: relative;
  overflow: auto;
}

.pontos::after {
  background-color: #72b221;
  content: "";
  width: 100%;
  height: 30px;
  position: sticky;
  bottom: 0;
  left: 0;
  display: block;
}

.pontos::before {
  background-color: #72b221;
  content: "";
  width: 100%;
  height: 30px;
  position: sticky;
  top: 0;
  left: 0;
  display: block;
}

.pontos ul li {
  display: flex;
  font-size: 20px;
}

.pontos ul li .d-flex {
  display: flex;
}

.pontos ul li .endereco,
.pontos ul li h3 {
  margin-left: 16px;
}

.pontos ul li h3 {
  color: #1c1a8d;
}

.pontos ul li .endereco {
  color: rgba(255, 255, 255, 0.9);
}

.pontos ul li .endereco .numero {
  display: block;
  margin-left: 5px;
}
.pontos ul li .endereco .estado {
  display: block;
  margin-left: 5px;
}

.pontos ul hr {
  color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 428px) {
  iframe {
    width: 100%;
    height: 30vh;
  }
  .localizacao {
    width: 100%;
    text-align: center;
    padding: 50px 0;
  }

  .texto-localizacao p {
    font-size: 1.6rem;
  }

  .wrap-pontos {
    margin-left: -30px;
    width: 95%;
  }

  .pontos ul li {
    font-size: 16px;
  }

  .pontos ul li h3 {
    text-align: left;
  }
}
