@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
.social-medias {
    font-family: 'Dosis';
    background-color: #1c1c1c;
    height: 440px;
}

.wrap-media {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-media {
    /* border-radius: 5px 5px 0 0; */
    width: 270px;
    height: 200px;
    background-image: url('../img/LOGO.png');
}

.texto-media {
    margin-left: 5%;
}

.texto-media h2 {
    font-size: 24px;
    color: white;
}

.texto-media p {
    font-family: 'Poppins';
    font-size: 16px;
    color: white;
    opacity: 60%;
    margin-top: 10px;
}

.social-list ul {
    padding: 0;
    display: flex;
    /* justify-content: center; */
}

i {
    font-size: 25px;
    margin-top: 20px;
    margin-right: 20px;
}