#navbar{
    background-color: #cccc;
    font-size: 20px;
}

#navbar ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    margin-right: 40px;
}