@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&display=swap');

.sobre{
    background-color: #f5f5f5;
    display: flex;
    width: 100%;
    /* margin-left: 15%; */
    padding: 100px 0px;
    margin: auto;

    font-family: 'Dosis';
}

.content-about{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.imagens{
    display: flex;
}

#imagem2{
    margin-bottom: 29px;
}

#layout-direito img{
    margin-left: 15%;
}

.texto{
    width: 50%;
    margin-left: 15%;
}

.texto h2{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;

    color: #1c1c1c;
}

.texto p{
    margin-bottom: 5%;

    font-size: 20px;
    font-weight: 500;

    color: #6a6a6a;
}

.texto input{
    width: 128px;
    height: 53px;

    font-size: 16px;
    font-weight: bold;
    
    color: white;
    background-color: #72b221;

    border-radius: 25px;
    /*Luizão abaixo*/
    border: none;
    outline: none;
    top: 525.5px;
    left: 0px;
    position: static;
    cursor: pointer;
}

.texto hr{
    width: 30%;
    margin-left: 0;
    margin-bottom: 35px;
    height: 2px;

    background-color: #72b221;
}

